@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/*-------------
   Navigation
--------------*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
   
}
nav ul li a{
    text-decoration: none;
    color: black;
}
/*-----------------
  first Section
------------------*/
h1{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
.banner{
    display: flex;
    gap: 100px
}
.left-banner{
    margin-top: 80px;

}
.left-banner a{
    text-decoration: none;
}
.right-banner{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    margin-top: 20px;

}
.banner:hover .right-banner img{
    transform: scale(1.3);
    transition: transform 1s;
}
.primary-button{
    background-color: #e83a59;
    font-weight: 400;
    padding: 10px 25px;
    color: #fff;
    border-radius: 30px;
    margin-top: 50px;
    text-decoration: none;
}
 /*===============
    second section 
  ===============*/
 .section-title{
     text-align: center;
 }
.ratings{
    color: #fb8200;
}
.rating-point{
    color: #5e6366;
    font-weight: 700;
}
.product-info{
    color: #787885;
    font-weight: 700;
}
.product{
    box-shadow: 0px 0px 8px gray;
    padding: 15px;
    border-radius: 10px;
   
}
.product img{
    width: 100%;
}
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.next-items a{
    text-decoration: none;
    color: #e83a59;
    font-weight: 700;
}
.next-items{
    text-align: right;
    margin-top: 20px;
 
}
.extra-part{
    display: flex;
}
.responsive img{
    width: 80%;
    border-radius: 10px;
}
/*---------------
  Footer starts
----------------*/
footer{
    background-color: #0a0826;
    text-align: center;
    padding: 50px 0;
}
.footer-title h1{
    color: #ffff;
}
.footer-title p{ 
    color: #ffff;
    font-size: 14px;
    margin: 10px 0;
}
.font-icon ul{
    display: flex;
    justify-content: center;
}
.font-icon ul li a{
    font-size: 25px;
  color: #fff;
  line-height: 40px;
}
.font-icon ul li{
    list-style: none;
  margin: 10px;
  background-color: #22213c;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 50%;
}
 /*--------------
   footer end
---------------*/
/*=============
  media query start
=============== */
/*------------------
   responsive
------------------- */
@media (max-width:900px) {
    .banner{
        flex-direction: column;
    }
    .left-banner{
        order: 2;
    }
    .right-banner{
        text-align: center;
    }
    .left-banner{
        text-align: center;
    }
    .collection{
        grid-template-columns: repeat(2, 1fr);
    }
    .extra-part{
        flex-direction: column;
    }
}
@media (max-width:700px) {
    nav ul{
        display: none;
    }   
}
@media (max-width:600px) {
    .collection{
        grid-template-columns: 1fr;
    }
    
}